@media screen and (min-width: 500px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-container {
    width: unset;
    width: 600px;
    align-self: center;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  /* Container Behavior */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Link Styling */
  border-radius: 5px;
  border: 1.5px solid;
  margin: 0.5em;
  padding: 0.7em;
  text-decoration: none;
  font-size: 18px;
  color: #3490de;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
}

.section-header {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  bottom: 0;
  margin-bottom: 5px;
}
